body {
  text-align: center;
  background-color: #011f3f;
  height: 100px;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.colors-container {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
  display: none;
}

.btn {
  height: 200px;
  width: 200px;
  border: 5px solid black;
  box-sizing: border-box;
  position: absolute;
}

.gm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

.game-modes {
  margin: 25px;
  height: 500px;
  width: 500px;
  line-height: 20px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  top: 0;
  right: 0;
  border-top-right-radius: 100%;
}

.green {
  background-color: green;
  top: 0;
  left: 0;
  border-top-left-radius: 100%;
}

.blue {
  background-color: blue;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 100%;
}

.yellow {
  background-color: yellow;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

button {
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
  background-color: #fef2bf;
  box-shadow: 0 6px #635800;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0 2px #635800;
}

#main-menu-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  font-family: "Press Start 2P", cursive;
  border-radius: 10px;
  background-color: #fef2bf;
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #level-title {
    font-size: 1.5rem;
    padding-top: 50px;
  }

  .gm-container {
    justify-content: center;
    height: 400px;
  }

  .game-modes {
    height: 100px;
    width: 300px;
  }

  .colors-container {
    width: 300px;
    height: 300px;
    margin-top: 25%;
  }

  .btn {
    height: 150px;
    width: 150px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  #level-title {
    font-size: 5rem;
  }

  .gm-container {
    justify-content: center;
    height: 700px;
  }

  .game-modes {
    height: 200px;
    width: 600px;
    font-size: 30px;
  }

  .colors-container {
    width: 500px;
    height: 500px;
    margin-top: 25%;
  }

  .btn {
    height: 250px;
    width: 250px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #level-title {
    font-size: 5rem;
  }

  .gm-container {
    justify-content: center;
    height: 700px;
  }

  .game-modes {
    height: 200px;
    width: 600px;
    font-size: 30px;
  }

  .colors-container {
    width: 800px;
    height: 800px;
    margin-top: 25%;
  }

  .btn {
    height: 400px;
    width: 400px;
  }

  #main-menu-button {
    height: 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (min-height: 1000px) {
  #level-title {
    font-size: 5rem;
    margin-bottom: 3%;
  }

  .gm-container {
    justify-content: center;
    height: 700px;
  }

  .game-modes {
    height: 200px;
    width: 600px;
    font-size: 30px;
  }

  .colors-container {
    width: 800px;
    height: 800px;
  }

  .btn {
    height: 400px;
    width: 400px;
  }

  #main-menu-button {
    height: 100px;
  }
}
